<!DOCTYPE html>
<html lang="PT-BR" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head('Lista de Produtos')"></head>

<body>
    <div class="container">
        <h1>Lista de Pedidos</h1>

        <!-- Tabela de Pedidos -->
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Data</th>
                    <th>Total</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="pedido : ${pedidos}">
                    <td th:text="${pedido.id}"></td>
                    <td
                        th:text="${#dates.format(pedido.data, 'dd/MM/yyyy')}"
                    ></td>
                    <td th:text="${pedido.total}"></td>
                    <td th:text="${pedido.status}"></td>
                    <td>
                        <button
                            class="btn"
                            th:onclick="'/pedidos/detalhes/' + ${pedido.id}"
                        >
                            Detalhes
                        </button>
                        <button
                            class="btn btn-danger"
                            th:onclick="'/pedidos/excluir/' + ${pedido.id}"
                        >
                            Excluir
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>