<!DOCTYPE html>
<html lang="PT-BR" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head('Relatório de Produtos')"></head>

<body>
    <h1>Gerar Relatório de Produtos</h1>

    <!-- Formulário para o usuário inserir parâmetros -->
    <form th:replace="relatorio/RelatorioFormulario"></form>

    <!-- Exibição do Relatório -->
    <div th:if="${#lists.isEmpty(relatorio)}" class="error">
        Nenhum produto encontrado para a categoria informada.
    </div>

    <table th:replace="relatorio/RelatorioTabela"></table>
</body>
</html>