<!DOCTYPE html>
<html lang="PT-BR" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head('Gerenciar Categorias')"></head>

<body>
    <header th:replace="fragments/header('Gerenciar Categorias')"></header>

    <!-- Botão para abrir o modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCadastro">
        Adicionar Categoria
    </button>

    <table th:replace="categoria/CategoriaTabela"></table>

    <!-- Modal para cadastro de categoria -->
    <div th:replace="categoria/CategoriaModalFormulario('Adicionar', '/categorias/adicionar', false, 'modalCadastro')"></div>

    <!-- Modal para edição de categoria -->
    <div th:replace="categoria/CategoriaModalFormulario('Editar', '/categorias/editar', true, 'modalEdicao')"></div>

    <!-- Bootstrap Modal e JS próprio para exclusão -->
    <div th:replace="fragments/modal :: modal('categoria')"></div>
    <script type="text/javascript" th:src="@{/js/scripts.js}"></script>
</body>
</html>